In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('527csv.csv')
df

,#,started on Fri,01-10-2013 03:16,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,#,time,counts unit,events,NaN
2,NaN,0.075138913,"2,65,288",branch-misses,-54.97%
3,NaN,0.075138913,"24,02,382",cache-misses,-66.09%
4,NaN,0.075138913,"31,87,593",L1-dcache-load-misses,-66.05%
...,...,...,...,...,...
41932,NaN,261.8523425,"2,42,305",LLC-load-misses,-34.00%
41933,NaN,261.8523425,"2,317",LLC-store-misses,-34.00%
41934,NaN,261.8523425,"71,068",branch-load-misses,-42.50%
41935,NaN,261.8523425,"12,73,62,900",cycles,-50.59%
41936,NaN,261.8523425,"31,23,02,588",instructions # 2.45 insn per ...,-57.51%

In [3]:
df.columns=['A','B','C','D','E']
df.head(10)
df=df.drop(['A'], axis=1)
df=df.drop([0,1])
i1=list(df[df['C']=='counts unit'].index)
df=df.drop(i1)
df[df['C']=='counts unit']
df.to_csv('file523.csv',index=False)

In [4]:
df=pd.read_csv('file523.csv')

In [5]:
l=list(df['C'])

In [6]:
i=0
l1=list()
l2=list()
l3=list()
l4=list()
l5=list()
l6=list()
l7=list()
l8=list()
l9=list()
l10=list()
l11=list()
l12=list()

while i<len(l)-12:
    l1.append(int(l[i].replace(',', '')))
    l2.append(int(l[i+1].replace(',', '')))
    l3.append(int(l[2+i].replace(',', '')))
    l4.append(int(l[3+i].replace(',', '')))
    l5.append(int(l[4+i].replace(',', '')))
    l6.append(int(l[5+i].replace(',', '')))
    l7.append(int(l[6+i].replace(',', '')))
    l8.append(int(l[7+i].replace(',', '')))
    l9.append(int(l[8+i].replace(',', '')))
    l10.append(int(l[9+i].replace(',', '')))
    l11.append(int(l[10+i].replace(',', '')))
    l12.append(int(l[11+i].replace(',', '')))
    i+=12
print(len(l1),len(l2),len(l3),len(l4),len(l5),len(l6),len(l7),len(l8),len(l9),len(l10),len(l11),len(l12))

3482 3482 3482 3482 3482 3482 3482 3482 3482 3482 3482 3482

In [7]:
events = {'branch-misses' : l1,'cache-misses' : l2,'L1-dcache-load-misses' : l3,'L1-icache-load-misses' : l4,
	'dTLB-load-misses' : l5,
	'dTLB-store-misses' : l6,
    'iTLB-load-misses' : l7,
	'LLC-load-misses' : l8,
	'LLC-store-misses' : l9,
    'branch-load-misses' : l10,
	'cycles' : l11,
	'instructions' : l12
}
new527csv = pd.DataFrame(events)

In [8]:
new527csv.to_csv('new527csv.csv')

In [9]:
new527csv

,branch-misses,cache-misses,L1-dcache-load-misses,L1-icache-load-misses,dTLB-load-misses,dTLB-store-misses,iTLB-load-misses,LLC-load-misses,LLC-store-misses,branch-load-misses,cycles,instructions
0,265288,2402382,3187593,853460,24391,356351,2121,37539,2140169,272620,215558553,498681327
1,241850,2880909,3284574,84742,17714,390169,329,43064,2696596,241090,231074860,525978130
2,100903,2844041,4593488,296742,21763,383992,3271,204165,2832381,122922,225898699,483716602
3,97666,3092116,8495598,296747,19294,335958,9273,483524,1625501,93369,223826467,440652693
4,151342,2547323,7639863,695263,21181,146184,20744,203784,1409077,165666,223866617,483676995
...,...,...,...,...,...,...,...,...,...,...,...,...
3477,868093,260681,12832171,966069,28047,8627,24730,6502,32157,887378,231984814,566389665
3478,946705,250919,12585353,960009,27490,8828,20413,6108,28948,965431,231791464,564163980
3479,955087,253569,12588066,964830,27015,8746,22094,6417,33051,946310,232124184,563388223
3480,975587,258778,12481499,956638,26720,8746,24396,6367,33067,959874,232044162,563553064
3481,1010914,244995,12405889,950658,26589,9061,22753,6818,28694,1014505,232044327,562964002

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# %matplotlib notebook
df=new527csv

In [11]:
df['cpi']=df['cycles']/df['instructions']

In [12]:
# f2=list()
# def printCombination(arr, n, r):
#     data = [0]*r;
#     combinationUtil(arr, data, 0, n - 1, 0, r);
# def combinationUtil(arr, data, start, end, index, r):
#     if (index == r):
#         f1=list()
#         for j in range(r):
# #             print(data[j], end = " ");
#             f1.append(data[j])
# #         print();
#         f2.append(f1)
#         return;
#     i = start; 
#     while(i <= end and end - i + 1 >= r - index):
#         data[index] = arr[i];
#         combinationUtil(arr, data, i + 1, end, index + 1, r);
#         i += 1;

# # Driver Code
# arr = [0,1,2,3,4,5,6,7,8,9];
# r = 3;
# n = len(arr);

# for i in range(2,11):
#     printCombination(arr, n, i);
# # This code is contributed by mits

In [13]:
# import numpy as np
# f3=list()
# for i in f2:
#     from sklearn.linear_model import LinearRegression
#     X = df.iloc[0:200,i]
#     Y = df.iloc[0:200, 12:]
#     from sklearn.model_selection import train_test_split
#     X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)
#     regr = LinearRegression()
#     regr.fit(X_train, y_train)
#     count=0
#     for j in regr.coef_[0]:
#         if j<0:
#             count+=1
#     if count==0:
#         f3.append(i)

In [14]:
# for i in f3:
#     print(i)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
i=[0, 3, 4, 6, 7, 8, 9]
X = df.iloc[0:200,i]
Y = df.iloc[0:200, 12:]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
regr = LinearRegression()
regr.fit(X_train, y_train)
regr.coef_

array([[0.00696515, 0.0050566 , 0.00415715, 0.03505732, 0.00393936,
        0.01440867, 0.00404771]])

In [16]:
a=list(X.describe().iloc[1,:])
b=regr.coef_[0]
cpi_stack=list()
for j in range(len(i)):
    cpi_stack.append(a[j]*b[j])
cpi_stack

[2426.4856182682934,
 2125.718742424067,
 96.2416056700796,
 278.5151674295024,
 115.33189706479388,
 1610.164217946435,
 1425.489803881235]

In [17]:
# y_pred = list(regr.predict(X_test))
# yt=list(y_test['cpi'])
yp=regr.predict(X_test)

# plt.plot(range(2287),yt,label="test")
# plt.plot(range(2287),y_pred,label="pred")
# plt.legend()

In [18]:
# import seaborn as sns
# sns.displot(yp-y_test,kind='kde')

In [19]:
a=yp-y_test
residual=a.describe().iloc[1,0]
print(residual)

0.0017593947111600576

In [20]:
from sklearn.metrics import r2_score

In [21]:
r2=r2_score(y_test,yp)

In [22]:
r2

0.6162683279739414

In [23]:
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(yp, y_test,squared=False)
rmse

0.03178979568651819

In [24]:
adjustedr2=1 - (1-r2)*(X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1)

In [25]:
adjustedr2

0.5959189211240746

In [26]:
from sklearn.feature_selection import f_regression

In [27]:
f_stat,p_value=f_regression(X_train,y_train)
print(f_stat,p_value)

[ 0.80719925 12.94894973  1.47013744 88.74709225  1.13893776  2.06635767
  0.28742646] [3.70514493e-01 4.45135449e-04 2.27395662e-01 1.41086952e-16
 2.87740323e-01 1.52844388e-01 5.92737564e-01]

C:\Users\Arun kumar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Related Data to 527
feature selected  - > ['branch-misses', 'L1-icache-load-misses', 'dTLB-load-misses', 'iTLB-load-misses', 'LLC-load-misses', 'LLC-store-misses', 'branch-load-misses']
rmse  - > 0.03178979568651819
(accuracy)r square -> 0.6162683279739414
Adjusted R2 - > 0.5959189211240746
resudual -> 0.0017593947111600576
fstatic -> [ 0.80719925, 12.94894973, 1.47013744, 88.74709225, 1.13893776, 2.06635767, 0.28742646]
p_value ->[3.70514493e-01, 4.45135449e-04, 2.27395662e-01, 1.41086952e-16, 2.87740323e-01, 1.52844388e-01, 5.92737564e-01]
Coefficient ->[0.00696515, 0.0050566 , 0.00415715, 0.03505732, 0.00393936, 0.01440867, 0.00404771]
cpi stack - > [2426.4856182682934, 2125.718742424067, 96.2416056700796, 278.5151674295024, 115.33189706479388, 1610.164217946435, 1425.489803881235]

In [34]:
print(list(X.columns))
residual

['branch-misses', 'L1-icache-load-misses', 'dTLB-load-misses', 'iTLB-load-misses', 'LLC-load-misses', 'LLC-store-misses', 'branch-load-misses']

0.0017593947111600576