In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('523csv.csv')
df

,#,started on Fri,01-10-2013 01:37,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,#,time,counts unit,events,NaN
2,NaN,0.075129829,"7,44,589",branch-misses,-57.29%
3,NaN,0.075129829,"2,31,833",cache-misses,-67.97%
4,NaN,0.075129829,"96,67,348",L1-dcache-load-misses,-67.97%
...,...,...,...,...,...
42185,NaN,263.5036174,"9,51,813",LLC-load-misses,-39.94%
42186,NaN,263.5036174,"5,004",LLC-store-misses,-44.74%
42187,NaN,263.5036174,"1,66,254",branch-load-misses,-55.94%
42188,NaN,263.5036174,"15,43,20,350",cycles,-65.66%
42189,NaN,263.5036174,"22,29,20,256",instructions # 1.44 insn per ...,-71.26%

In [3]:
df.columns=['A','B','C','D','E']
df.head(10)
df=df.drop(['A'], axis=1)
df=df.drop([0,1])
i1=list(df[df['C']=='counts unit'].index)
df=df.drop(i1)
df[df['C']=='counts unit']
df.to_csv('file523.csv',)

In [4]:
df=pd.read_csv('file523.csv')

In [5]:
l=list(df['C'])

In [6]:
i=0
l1=list()
l2=list()
l3=list()
l4=list()
l5=list()
l6=list()
l7=list()
l8=list()
l9=list()
l10=list()
l11=list()
l12=list()

while i<len(l)-12:
    l1.append(int(l[i].replace(',', '')))
    l2.append(int(l[i+1].replace(',', '')))
    l3.append(int(l[2+i].replace(',', '')))
    l4.append(int(l[3+i].replace(',', '')))
    l5.append(int(l[4+i].replace(',', '')))
    l6.append(int(l[5+i].replace(',', '')))
    l7.append(int(l[6+i].replace(',', '')))
    l8.append(int(l[7+i].replace(',', '')))
    l9.append(int(l[8+i].replace(',', '')))
    l10.append(int(l[9+i].replace(',', '')))
    l11.append(int(l[10+i].replace(',', '')))
    l12.append(int(l[11+i].replace(',', '')))
    i+=12
print(len(l1),len(l2),len(l3),len(l4),len(l5),len(l6),len(l7),len(l8),len(l9),len(l10),len(l11),len(l12))

3503 3503 3503 3503 3503 3503 3503 3503 3503 3503 3503 3503

In [7]:
events = {'branch-misses' : l1,'cache-misses' : l2,'L1-dcache-load-misses' : l3,'L1-icache-load-misses' : l4,
	'dTLB-load-misses' : l5,
	'dTLB-store-misses' : l6,
    'iTLB-load-misses' : l7,
	'LLC-load-misses' : l8,
	'LLC-store-misses' : l9,
    'branch-load-misses' : l10,
	'cycles' : l11,
	'instructions' : l12
}
new523csv = pd.DataFrame(events)

In [8]:
new523csv.to_csv('new523csv.csv')

In [9]:
new523csv

,branch-misses,cache-misses,L1-dcache-load-misses,L1-icache-load-misses,dTLB-load-misses,dTLB-store-misses,iTLB-load-misses,LLC-load-misses,LLC-store-misses,branch-load-misses,cycles,instructions
0,744589,231833,9667348,5162301,6149,16751,74810,14514,104936,732020,231404681,496362643
1,686784,128862,11453249,4037478,97675,12933,54000,13173,81779,689057,232051871,472561901
2,624231,145103,11704343,3605909,433630,15492,66003,13692,76504,618620,231959469,459856782
3,575496,124394,12204268,3401192,786373,17788,62934,15787,68350,582222,232165588,453432673
4,550001,142873,12619649,3153576,987161,17846,56971,15938,63676,543048,231676482,444207729
...,...,...,...,...,...,...,...,...,...,...,...,...
3498,237016,501004,15003844,661795,260152,10639,1568,31573,130306,217642,229347271,345786721
3499,228362,420810,15500808,620297,412081,14547,1828,25320,109594,220129,230304649,338877866
3500,360595,4371097,9800665,20596,252633,62361,1908,1112280,614,577453,193840262,322665909
3501,414902,4654250,2546929,7402,381743,70834,295,1715210,71769,388875,133396536,69646279
3502,366673,4282569,2926122,6274,288917,73604,743,868914,954,246924,154823862,192644065

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# %matplotlib notebook
df=new523csv

In [11]:
df['cpi']=df['cycles']/df['instructions']

In [12]:
# f2=list()
# def printCombination(arr, n, r):
#     data = [0]*r;
#     combinationUtil(arr, data, 0, n - 1, 0, r);
# def combinationUtil(arr, data, start, end, index, r):
#     if (index == r):
#         f1=list()
#         for j in range(r):
# #             print(data[j], end = " ");
#             f1.append(data[j])
# #         print();
#         f2.append(f1)
#         return;
#     i = start; 
#     while(i <= end and end - i + 1 >= r - index):
#         data[index] = arr[i];
#         combinationUtil(arr, data, i + 1, end, index + 1, r);
#         i += 1;

# # Driver Code
# arr = [0,1,2,3,4,5,6,7,8,9];
# r = 3;
# n = len(arr);

# for i in range(2,11):
#     printCombination(arr, n, i);
# # This code is contributed by mits

In [13]:
# i1=list()
# i2=list()
# for i in range(33):
#     i1.append(i*100)
#     i2.append(i*100+100)
# print(i1[32],i2[32])

In [14]:
# import numpy as np
# f3=list()
# f4=list()
# for l in range(33):
#     for i in f2:
#         from sklearn.linear_model import LinearRegression
#         X = df.iloc[i1[l]:i2[l],i]
#         Y = df.iloc[i1[l]:i2[l], 12:]
#         from sklearn.model_selection import train_test_split
#         X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)
#         regr = LinearRegression()
#         regr.fit(X_train, y_train)
#         count=0
#         for j in regr.coef_[0]:
#             if j<0:
#                 count+=1
#         if count==0 and len(i)>=7:
#             f3.append(i)
#             f4.append(l)

In [15]:
# for i in f3:
#     print(i)

In [16]:
# for z in f4:
#     print(z)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
i=[0, 2, 3, 4, 5, 6, 7, 9]
X = df.iloc[3200:3300,i]
Y = df.iloc[3200:3300, 12:]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
regr = LinearRegression()
regr.fit(X_train, y_train)
regr.coef_

array([[0.01068126, 0.01178457, 0.02511751, 0.02637422, 0.00200273,
        0.01199596, 0.01675248, 0.02863763]])

In [18]:
a=list(X.describe().iloc[1,:])
b=regr.coef_[0]
cpi_stack=list()
for j in range(len(i)):
    cpi_stack.append(a[j]*b[j])
cpi_stack

[2521.6483789271833,
 185234.37695881602,
 16514.2443988587,
 7587.9385274217075,
 26.192375466410812,
 29.97165803982351,
 369.12889034750094,
 6719.757997810317]

In [19]:
# y_pred = list(regr.predict(X_test))
# yt=list(y_test['cpi'])
yp=regr.predict(X_test)

# plt.plot(range(2287),yt,label="test")
# plt.plot(range(2287),y_pred,label="pred")
# plt.legend()

In [20]:
# import seaborn as sns
# sns.displot(yp-y_test,kind='kde')

In [21]:
a=yp-y_test
residual=a.describe().iloc[1,0]
print(residual)

0.009366937173704707

In [22]:
from sklearn.metrics import r2_score

In [23]:
r2=r2_score(yp, y_test)

In [24]:
r2

0.7725915763647468

In [25]:
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(yp, y_test)
rmse

0.0009897695398344275

In [26]:
adjustedr2=1 - (1-r2)*(X_train.shape[0]-1)/(X_train.shape[0]-X_train.shape[1]-1)

In [27]:
adjustedr2

0.7427675208060251

In [28]:
from sklearn.feature_selection import f_regression

In [29]:
f_stat,p_value=f_regression(X_train,y_train)
p_value

C:\Users\Arun kumar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([7.36528014e-16, 1.46299195e-02, 6.85648809e-13, 1.28802859e-07,
       1.89945112e-01, 1.28238417e-03, 1.32612623e-01, 1.08646536e-16])

In [33]:
f_stat,p_value=f_regression(X_train,y_train)
print(f_stat,p_value)

[110.1037606    6.27720632  77.96256765  34.76957002   1.75290722
  11.2878312    2.31689047 120.32931177] [7.36528014e-16 1.46299195e-02 6.85648809e-13 1.28802859e-07
 1.89945112e-01 1.28238417e-03 1.32612623e-01 1.08646536e-16]

C:\Users\Arun kumar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Related Data to 523
feature selected  - > ['branch-misses', 'L1-dcache-load-misses', 'L1-icache-load-misses', 'dTLB-load-misses', 'dTLB-store-misses', 'iTLB-load-misses', 'LLC-load-misses', 'branch-load-misses']
rmse  - > 0.0009897695398344275
(accuracy)r square -> 0.7725915763647468
Adjusted R2 - > 0.7427675208060251
resudual -> 0.009366937173704707
fstatic -> [110.1037606, 6.27720632, 77.96256765, 34.76957002, 1.75290722, 11.2878312, 2.31689047, 120.32931177] 
p_value ->[7.36528014e-16, 1.46299195e-02, 6.85648809e-13, 1.28802859e-07, 1.89945112e-01, 1.28238417e-03, 1.32612623e-01, 1.08646536e-16]
Coefficient ->array([[0.01068126, 0.01178457, 0.02511751, 0.02637422, 0.00200273, 0.01199596, 0.01675248, 0.02863763]])
cpi stack - > [2521.6483789271833, 185234.37695881602, 16514.2443988587, 7587.9385274217075, 26.192375466410812, 29.97165803982351, 369.12889034750094, 6719.757997810317]